<!-- Main content-->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-filled">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="view-header">
                                <div class="header-icon">
                                    <i class="pe-7s-note2
                                    pe-7s-unlock"></i>
                                </div>
                                <div class="header-title">
                                    <h3>Lista de Productos y Control de Vencimiento</h3>
                                    <small>
                                        Control de Inventario
                                    </small>
                                </div>
                            </div>
                            <hr>
                            <div id="tableExample3_filter" class="dataTables_filter"><label>Buscar:<input type="search" class="form-control input-sm" placeholder="" aria-controls="tableExample3"></label></div>
                            <table id="tableExample3" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Importe</th>
                                        <th>Fecha de Vencimiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1001</td>
                                        <td>Manzanas</td>
                                        <td>20</td>
                                        <td>1.50</td>
                                        <td>30.00</td>
                                        <td>12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1002</td>
                                        <td>Leche</td>
                                        <td>5</td>
                                        <td>2.00</td>
                                        <td>10.00</td>
                                        <td>11/22/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1003</td>
                                        <td>Pan integral</td>
                                        <td>2</td>
                                        <td>3.50</td>
                                        <td>10.00</td>
                                        <td>12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>10.00</td>
                                        <td>12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1003</td>
                                        <td>Pan integral</td>
                                        <td>2</td>
                                        <td>3.50</td>
                                        <td>7.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1003</td>
                                        <td>Pan integral</td>
                                        <td>2</td>
                                        <td>3.50</td>
                                        <td>7.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1001</td>
                                        <td>Manzanas</td>
                                        <td>20</td>
                                        <td>1.50</td>
                                        <td>30.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                        <hr>
                        <div class="table-responsive">
                            <h3>Galletas</h3>
                            <div id="tableExample3_filter" class="dataTables_filter"><label>Buscar:<input type="search" class="form-control input-sm" placeholder="" aria-controls="tableExample3"></label></div>
                            <table id="tableExample3" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Importe</th>
                                        <th>Fecha de Vencimiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1001</td>
                                        <td>Manzanas</td>
                                        <td>20</td>
                                        <td>1.50</td>
                                        <td>30.00</td>
                                        <td>12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1002</td>
                                        <td>Leche</td>
                                        <td>5</td>
                                        <td>2.00</td>
                                        <td>10.00</td>
                                        <td>11/22/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1003</td>
                                        <td>Pan integral</td>
                                        <td>2</td>
                                        <td>3.50</td>
                                        <td>10.00</td>
                                        <td>12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>10.00</td>
                                        <td>12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1003</td>
                                        <td>Pan integral</td>
                                        <td>2</td>
                                        <td>3.50</td>
                                        <td>7.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1003</td>
                                        <td>Pan integral</td>
                                        <td>2</td>
                                        <td>3.50</td>
                                        <td>7.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1001</td>
                                        <td>Manzanas</td>
                                        <td>20</td>
                                        <td>1.50</td>
                                        <td>30.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                        <hr>
                        <div class="table-responsive">
                            <h3>Limpieza</h3>
                            <div id="tableExample3_filter" class="dataTables_filter"><label>Buscar:<input type="search" class="form-control input-sm" placeholder="" aria-controls="tableExample3"></label></div>
                            <table id="tableExample3" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                        <th>Importe</th>
                                        <th>Fecha de Vencimiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1001</td>
                                        <td>Manzanas</td>
                                        <td>20</td>
                                        <td>1.50</td>
                                        <td>30.00</td>
                                        <td>12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1002</td>
                                        <td>Leche</td>
                                        <td>5</td>
                                        <td>2.00</td>
                                        <td>10.00</td>
                                        <td>11/22/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1003</td>
                                        <td>Pan integral</td>
                                        <td>2</td>
                                        <td>3.50</td>
                                        <td>10.00</td>
                                        <td>12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>10.00</td>
                                        <td>12/12/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1004</td>
                                        <td>Pollo</td>
                                        <td>1</td>
                                        <td>8.00</td>
                                        <td>8.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1003</td>
                                        <td>Pan integral</td>
                                        <td>2</td>
                                        <td>3.50</td>
                                        <td>7.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1003</td>
                                        <td>Pan integral</td>
                                        <td>2</td>
                                        <td>3.50</td>
                                        <td>7.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                    <tr>
                                        <td>1001</td>
                                        <td>Manzanas</td>
                                        <td>20</td>
                                        <td>1.50</td>
                                        <td>30.00</td>
                                        <td>14/05/2023</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

    </div>
</section>
<script>
    $(document).ready(function () {

        $('#tableExample1').DataTable({
            "dom": 't'
        });

        $('#tableExample2').DataTable({
            "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "lengthMenu": [ [6, 25, 50, -1], [6, 25, 50, "All"] ],
            "iDisplayLength": 6,
        });

        $('#tableExample3').DataTable({
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
            "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
            buttons: [
                {extend: 'copy',className: 'btn-sm'},
                {extend: 'csv',title: 'ExampleFile', className: 'btn-sm'},
                {extend: 'pdf', title: 'ExampleFile', className: 'btn-sm'},
                {extend: 'print',className: 'btn-sm'}
            ]
        });

    });
</script>